<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="none"></div>

    <div th:fragment="settlements-all" th:align="center">
        <table class="table table-hover table-bordered" style="background-color: snow;">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Kto wprowadził</th>
                <th scope="col">Pełna kwota</th>
                <th scope="col">Za</th>
                <th scope="col">Kiedy</th>
                <th scope="col">Opis</th>
                <th scope="col">Rozwiń</th>
            </tr>
            </thead>
            <tbody>

            <tr th:if="${settlements.empty}">
                <td colspan="7">Brak rozliczeń</td>
            </tr>
            <th:block th:each="s : ${settlements}">
                <tr>
                    <th scope="row" th:text="${s.id}"></th>
                    <td th:text="${s.resident.email}"></td>
                    <td th:text="${s.amount}"></td>
                    <td th:text="${s.type.name}"></td>
                    <td th:text="${s.date}"></td>
                    <td th:text="${s.description}"></td>
                    <td>
                        <span class="fas-stack fa-lg" onclick="toggleSettlementPayments(this)" th:id="${s.id}">
                            <i class="fas fa-arrow-down"></i>
                        </span>
                    </td>
                </tr>
                <tr style = "display: none;" th:id="@{p-} + ${s.id}"><td colspan="7" >
                    <table class="table table-sm table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Lokator</th>
                        <th scope="col">Składka</th>
                        <th scope="col">Status</th>
                        <th scope="col">Data opłaty</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p : ${s.payments}">
                            <td th:text="${p.resident.email}"></td>
                            <td th:text="${p.amount}"></td>
                            <td th:text="${p.status}"></td>
                            <td th:text="${p.date}"></td>
                        </tr>
                    </tbody>
                    </table>
                </td></tr>
            </th:block>
            </tbody>
        </table>

        <nav th:if="${settlements.totalPages > 0}" style="display: inline-block;">
        <ul class="pagination">
            <li th:each="p : ${pages}"
                th:class="${p == settlements.number + 1} ? 'page-item active' : page-item">
                <a th:href="@{/settlements/all(page=${p})}"
                    th:text="${p}"
                    class="page-link">
                </a>
            </li>
        </ul>
        </nav>
    </div>

    <div th:fragment="settlements-payed" th:align="center">
        <table class="table table-hover table-bordered" style="background-color: snow;">
            <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Kto</th>
                <th>Ile</th>
                <th>Co</th>
                <th>Kiedy</th>
                <th>Opis</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${payed.empty}">
                <td colspan="6">Brak rozliczonych</td>
            </tr>
            <tr th:each="s : ${payed}">
                <th scope="row" th:text="${s.id}"></th>
                <td th:text="${s.resident.email}"></td>
                <td th:text="${s.amount}"></td>
                <td th:text="${s.type.name}"></td>
                <td th:text="${s.date}"></td>
                <td th:text="${s.description}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:fragment="settlements-add">
        <form class="needs-validation" action="#" th:action="@{add}" th:object="${s}" method="post">
            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label for="validationCustom01">Typ rozliczenia</label>
                <select class="custom-select"
                    id="validationCustom01" required
                    th:field="${s.type}"
                >
                  <option selected disabled value="">Wybierz...</option>
                  <option th:each="t : ${types}" th:value="${t.id}" th:utext="${t.name}"/>
                </select>
                <div class="invalid-feedback">
                  Wybierz typ rozliczenia
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom02">Data powstania rozliczenia</label>
                <input th:field="${s.date}" type="date" class="form-control" id="validationCustom02" required>
                <div class="invalid-feedback">
                  Wprowadź datę
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom03">Cała kwota rozliczenia</label>
                <input th:field="${s.amount}" type="number" class="form-control" min="0.00" max="1000.00" step="0.01" required/>
                <div class="invalid-feedback">
                  Wprowadź kwotę
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom03">Opis</label>
                <textarea th:field="${s.description}" class="form-control" rows="1"></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Dodaj</button>
        </form>
    </div>

    <div th:fragment="payments-all" th:align="center">
        <table class="table table-hover table-bordered" style="background-color: snow;">
            <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Status</th>
                <th>Dzień opłaty</th>
                <th>Kwota</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${payments.empty}">
                <td colspan="4">Brak opłaconych wydatków</td>
            </tr>
            <tr th:each="p : ${payments}" th:id="${p.id.residentId} + '-' + ${p.id.settlementId}">
                <th scope="row" th:text="${p.id.settlementId}"></th>
                <td th:text="${p.status}"></td>
                <td th:text="${p.date}"></td>
                <td th:text="${p.amount}"></td>
            </tr>
            </tbody>
        </table>

        <nav th:if="${payments.totalPages > 0}" style="display: inline-block;">
        <ul class="pagination">
            <li th:each="p : ${pages}"
                th:class="${p == payments.number + 1} ? 'page-item active' : page-item">
                <a th:href="@{/payments/all(page=${p})}"
                    th:text="${p}"
                    class="page-link">
                </a>
            </li>
        </ul>
        </nav>

        <div class="row">
            <div class ="col-md-5"></div>
            <div class ="col-md-4"></div>
            <div class ="col-md-3">
               <div class="card">
                    <div class="card-body">Suma wszystkich opłat: [[${total}]]</div>
                </div>
            </div>
        </div>

    </div>

    <div th:fragment="payments-to-pay" th:align="center">
        <table class="table table-hover table-bordered" style="background-color:snow;">
            <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Kwota</th>
                <th>Status</th>
                <th>Rozlicz</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${toPay.empty}">
                <td colspan="4">Wszystkie opłaty rozliczone</td>
            </tr>
            <tr th:each="p : ${toPay}" th:id="'tr-' + ${p.id.residentId} + '-' + ${p.id.settlementId}">
                <td th:text   = "${p.id.settlementId}"></td>
                <td th:text   = "${p.amount}"></td>
                <td th:text   = "${p.status}"></td>
                <td th:switch = "${p.status.name()}">
                <form th:case = "Nieopłacona" th:action="@{pay}" th:object="${id}" method="post">
                    <input type="hidden" th:value="${p.id.residentId}"   id="residentId" name="residentId">
                    <input type="hidden" th:value="${p.id.settlementId}" id="settlementId" name="settlementId">
                    <button type="submit" class="btn btn-success">Oznacz zapłacone</button>
                </form>
                    <span th:case="*"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
   
    <div th:fragment="tasks-all" th:align="center">
        <table class="table table-hover table-bordered" style="background-color: snow;">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Kto wprowadził</th>
                <th scope="col">Kto wykonuje</th>
                <th scope="col">Co</th>
                <th scope="col">Data utworzenia</th>
                <th scope="col">Termin</th>
                <th scope="col">Data wykonania</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${tasks.empty}">
                <td colspan="8">Brak zadań</td>
            </tr>
            <th:block th:each="t : ${tasks}">
                <tr>
                    <th scope="row" th:text="${t.id}"></th>
                    <td th:text="${t.creator.email}"></td>
                    <td th:text="${t.resident.email}"></td>
                    <td th:text="${t.type.name}"></td>
                    <td th:text="${t.creationDate}"></td>
                    <td th:text="${t.deadlineDate}"></td>
                    <td th:text="${t.execDate}"></td>
                    <td th:text="${t.status}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <nav th:if="${tasks.totalPages > 0}" style="display: inline-block;">
        <ul class="pagination">
            <li th:each="p : ${pages}"
                th:class="${p == tasks.number + 1} ? 'page-item active' : page-item">
                <a th:href="@{/tasks/all(page=${p})}"
                    th:text="${p}"
                    class="page-link">
                </a>
            </li>
        </ul>
        </nav>
    </div>

    <div th:fragment="tasks-summary" th:align="center">
        <table class="table table-hover table-bordered" style="background-color: snow;">
            <thead class="thead-light"></thead>
            <tbody>
                <tr th:each="row: ${summary}">
                    <td th:each="col: ${row}" type = "text" th:text="${col}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:fragment="tasks-todo" th:align="center">
        <table class="table table-hover table-bordered" style="background-color: snow;">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Kto wprowadził</th>
                <th scope="col">Co</th>
                <th scope="col">Kiedy</th>
                <th scope="col">Termin</th>
                <th scope="col">Status</th>
                <th scope="col">Akcja</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${tasks.empty}">
                <td colspan="7">Brak zadań</td>
            </tr>
            <th:block th:each="t : ${tasks}">
                <tr>
                    <th scope="row" th:text="${t.id}"></th>
                    <td th:text="${t.creator.email}"></td>
                    <td th:text="${t.type.name}"></td>
                    <td th:text="${t.creationDate}"></td>
                    <td th:text="${t.deadlineDate}"></td>
                    <td th:text="${t.status}"></td>
                    <td th:switch = "${t.status.name()}">
                    <form th:action="@{do}"  method="post">
                        <input type="hidden" th:value="${t.id}" name="id"/>
                        <button type="submit" class="btn btn-success">Oznacz wykonane</button>
                    </form>
                        <span th:case="*"></span>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <div th:fragment="tasks-add">
        <form class="needs-validation" action="#" th:action="@{add}" th:object="${t}" method="post">
            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label for="validationCustom05">Typ zadania</label>
                <select class="custom-select"
                    id="validationCustom05" required
                    th:field="${t.type}"
                >
                  <option selected disabled value="">Wybierz...</option>
                  <option th:each="t : ${types}" th:value="${t.id}" th:utext="${t.name}"/>
                </select>
                <div class="invalid-feedback">
                  Wybierz typ zadania
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom06">Przypisane do</label>
                <select class="custom-select"
                    id="validationCustom06" required
                    th:field="${t.resident}"
                >
                  <option selected disabled value="">Wybierz...</option>
                  <option th:each="r : ${residents}" th:value="${r.id}" th:utext="${r.email}"/>
                </select>
                <div class="invalid-feedback">
                  Przypisz do
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationCustom07">Termin wykonania</label>
                <input th:field="${t.deadlineDate}" type="date" class="form-control" id="validationCustom07" required>
                <div class="invalid-feedback">
                  Wprowadź datę wykonania
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Dodaj</button>
        </form>
    </div>

    <div th:fragment="rubbishs-all" th:align="center">
        <table class="table table-hover table-bordered" style="background-color: snow;">
            <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Kto</th>
                <th>Kiedy</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${rubbishs.empty}">
                <td colspan="3">Brak</td>
            </tr>
            <tr th:each="r : ${rubbishs}">
                <th scope="row" th:text="${r.id}"></th>
                <td th:text="${r.resident.email}"></td>
                <td th:text="${r.date}"></td>
            </tr>
            </tbody>
        </table>

        <nav th:if="${rubbishs.totalPages > 0}" style="display: inline-block;">
        <ul class="pagination">
            <li th:each="p : ${pages}"
                th:class="${p == rubbishs.number + 1} ? 'page-item active' : page-item">
                <a th:href="@{/rubbishs/all(page=${p})}"
                    th:text="${p}"
                    class="page-link">
                </a>
            </li>
        </ul>
        </nav>
    </div>

    <div th:fragment="rubbishs-summary" th:align="center">
        <table class="table table-hover table-bordered" style="background-color: snow;">
            <thead class="thead-light">
            <tr>
                <th>Kto</th>
                <th>Ile razy / Data ostatniego razu</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${summary.empty}">
                <td colspan="3">Brak</td>
            </tr>
            <tr th:each="r : ${summary}">
                <td th:text="${r.key}"></td>
                <td th:text="${r.value}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:fragment="rubbishs-add">
        <form class="needs-validation" action="#" th:action="@{add}" th:object="${r}" method="post">
            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label for="validationCustom10">Kiedy</label>
                <input th:field="${r.date}" type="date" class="form-control" id="validationCustom10" required>
                <div class="invalid-feedback">
                  Wprowadź datę
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Dodaj wpis</button>
        </form>
    </div>
</body>
</html>

