<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head></head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
            <a class="navbar-brand" href="/">NASZ ADRES</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rozliczenia
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/settlements/all">Wszystkie</a>
                    <a class="dropdown-item" href="/settlements/payed">Opłacone</a>
                    <div class="dropdown-divider"></div>
                    <a
                      class="dropdown-item"
                      href="/settlements/add"
                      sec:authorize="hasRole('ROLE_ROOMOWNER_')"
                    > Dodaj rozliczenie </a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Moje opłaty
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/payments/all">Wszystkie</a>
                      <a class="dropdown-item" href="/payments/to-pay">Do zapłaty</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Zadania
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/tasks/all">Wszystkie</a>
                    <a class="dropdown-item" href="/tasks/done">Wykonane</a>
                    <a class="dropdown-item" href="/tasks/done">Do zrobienia</a>
                    <div class="dropdown-divider"></div>
                    <a
                      class="dropdown-item"
                      href="/tasks/add"
                      sec:authorize="hasRole('ROLE_ROOMOWNER_')"
                    > Przypisz zadanie </a>
                  </div>
                </li>

              </ul>
             <ul class="nav navbar-nav navbar-right">
              <li sec:authorize="!isAuthenticated()">
                <a href="/logout">
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                </a>
                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
              </li>
              </ul>
            </div>
          </nav>
    </body>
</html>